/*************************************** custom defaults */
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  list-style: none;
  color: #343434;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Arima', cursive, Arial, Helvetica, sans-serif;
  background-color: #f5fffa;
}

/*************************************** title */
#mainTitle {
  display: grid;
  justify-content: center;
  margin: 1.5rem 0;
}

#mainTitle h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

/*************************************** grid */
#gridSection {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
}

#gridSection h2 {
  font-size: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 0.1rem;
  row-gap: 0.1rem;
  border: solid 0.2rem #354230;
  height: 20rem;
  width: 20rem;
  background-color: #fada5e;
}

.grid-container div:nth-child(odd) {
  background-color: #1a1110;
}

.grid-container div:nth-child(even) {
  background-color: #ed2939;
}
